@import "~normalize";
@import "../../../assets/stylesheets/fundamental/hhd-reset";
@import "../../../assets/stylesheets/fundamental/mixins";
// @import "../../../assets/stylesheets/vendors/react-css-transition-replace";

.collapse {
  position: relative;
  .summary {
    padding: 10px;
    background: #f5f5f5;
    display: block;
    border-bottom: 1px solid #fff;
  }
  .details {
    display: none;
  }
  &.active .details {
    display: block;
  }
}
