// @import "../../collapse/stylesheets/collapse";
@import "~normalize";
@import "../../../assets/stylesheets/fundamental/hhd-reset";
@import "../../../assets/stylesheets/fundamental/mixins";
// @import "../../../assets/stylesheets/vendors/react-css-transition-replace";

.accordion {
  position: relative;
  .item {
    .summary {
      padding: 10px;
      background: #f5f5f5;
      display: block;
      border-bottom: 1px solid #fff;
    }
    .details {
      display: none;
      padding: 10px;
    }
    &.active .details {
      display: block;
    }
  }
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

// // 初期マウント時のtransition
// .slide-appear {
//   opacity    : 0;
//   transition : opacity .7s ease-in;
// }

// .slide-appear.slide-appear-active {
//   opacity : 1;
// }

// // componentがCSSTransitionGroup Component以下に新たに追加されたとき
// .slide-enter {
//   max-height : 0;
//   transition : all .3s ease-in;
// }

// .slide-enter.slide-enter-active {
//   max-height : 1000px;
// }

// // componentがCSSTransitionGroup Component以下から削除されたとき
// .slide-leave {
//   max-height : 1000px;
//   transition : all .3s ease-out;
// }

// .slide-leave.slide-leave-active {
//   max-height : 0;
// }
