
// https://brandcolors.net/
// http://www.color-hex.com/color-palette/185

$color-twitter: #1da1f2;
$color-facebook: #3b5998;
$color-googleplus: #dd4b39;
$color-pinterest: #cb2027;
$color-linkedin: #007bb6;
$color-youtube: #bb0000;
$color-vimeo: #aad450;
$color-tumblr: #32506d;
$color-instagram: #517fa4;
$color-flickr: #ff0084;
