
.img-100 { display: block; width: 100%; height: auto; }
.img-block { display: block; max-width: 100%; height: auto; }
.left-ct { float:left; position: relative; }
.right-ct { float:right; position: relative; }


// Display utilities
//
%d-ib { display: inline-block; vertical-align: top; }
%d-block { display: block; }
%d-inline {  display: inline }
%d-none { display: none; }
%d-iblock { display: inline-block; }
%d-tablecell { display: table-cell; vertical-align: middle; }
// end Display utilities


// %h-50 { height: 50px; }
// %h-55 { height: 55px; }
// %h-60 { height: 60px; }
// %h-70 { height: 70px; }
%h-100c { height: 100%; }

// %w-30 { width: 30px; }
// %w-40 { width: 40px; }
// %w-50 { width: 50px; }
// %w-50c { width: 50%; }
%w-100c { width: 100%; }

// %b-right-2-aaa { border-right: 2px solid #aaa; }

%bg-none { background: none; }
%bg-fff { background: #fff; }
%bg-f0 { background: #f0f0f0; }
%bg-ef { background: #efefef; }
%bg-e5 { background: #e5e5e5; } // 10% of black
%bg-ddd { background: #ddd; }
%bg-ccc { background: #ccc; } // 20% of black
%bg-b2 { background: #b2b2b2; } // 30% of black
%bg-999 { background: #999; } // 40% of black
%bg-555 { background: #555; }
%bg-333 { background: #333; }
%bg-000 { background: #000; }
%bg-000-9 { background: rgba(0,0,0,.9); }
%bg-000-8 { background: rgba(0,0,0,.8); }
%bg-fff-8 { background: rgba(255,255,255,.8); }

%opc-1 { opacity: 1; }
%opc-08 { opacity: .8; }
%opc-05 { opacity: .5; }
%opc-03 { opacity: .3; }
%opc-02 { opacity: .2; }
%opc-01 { opacity: .1; }

%bg-pattern-1 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQANPnz79z4gsBhKQlpZmhAvCBECKwILIAmBBdAGQIAD61RO0AAM5NwAAAABJRU5ErkJggg==) repeat;
}

%bg-pattern-2 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAaElEQVQYV12PUQ2AQAxD32SADZCBDmwQbKADGWADZBwpbMvCfW1Z+9ozYABOvrcAG3D73swHiSZg9b0DLsBCIOdeSA3oRZJAx3CKdMgZJA3CZSYw1k6pjMx/pxBkZvnN20kCHStprp0eilwX0w7FFEcAAAAASUVORK5CYII=) repeat;
}

%shadow-inset-fff {
  box-shadow: inset 1px 1px 1px 0px rgba(255,255,255,1),
  inset -1px -1px 1px 0px rgba(255,255,255,1); }

%user-select-none {
  @include user-select(none);
}
